/* Mark Tranter's CSS */

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.my-div {
  max-width: 900px;
}

.img-container {
  margin-top: 1rem;
  padding: 1rem;
}
.my-img {
  margin: auto;
  border: 10px solid black;
  max-width: 100%;
  display: block;
  height: auto;
}

blockquote {
  font-family: serif;
}
