/* Mark Tranter's CSS */

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.my-div {
  max-width: 900px;
}

.img-container {
  margin-top: 2rem;
  text-align: center;
  padding: 1rem;
}

img {
  border: 10px solid black;
  max-width: 100%;
  display: block;
  height: auto;
}
